# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

In [ ]:
my_list=list(range(1,11))
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [ ]:
fruits=('apple', 'banana', 'cherry')

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

In [ ]:
numbers = [10, 20, 30, 40]
numbers=tuple(numbers)
type(numbers)

tuple

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [ ]:
my_set={1, 2, 3, 4, 5}
type(my_set)

set

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [ ]:
student={'name':'Alice','age':20,'grade':'A'}

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [ ]:
[10, 20, 30, 40, 50][1]

20

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [ ]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2]='mango'

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

In [ ]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

In [ ]:
person = {"name": "John", "age": 25, "city": "New York"}
del person["age"]
print(person)

{'name': 'John', 'city': 'New York'}

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

In [ ]:
my_object=[]
for i in range(10):
    my_object.append(i)

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

In [ ]:
my_object=[]
for i in range(1,11):
    my_object.append(i**2)

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

In [ ]:
even = tuple(x for x in range(2, 11) if x % 2 == 0)
print(even)

(2, 4, 6, 8, 10)

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

In [ ]:
fruits = ["apple", "banana", "cherry"]
for f in fruits:
    print(f)

apple
banana
cherry

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [ ]:
numbers = {1, 2, 3, 4, 5}
3.in(numbers)

True

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

In [ ]:
numbers = (10, 20, 30)
len(numbers)

3

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [ ]:
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

In [ ]:
def somme(my_list):
    s=0
    for l in my_list:
        s+=l
    return s
somme([1,2,3])

6

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

In [ ]:
numbers = [1, 2, 2, 3, 4, 4, 5]
my_set=set(numbers)
my_set

{1, 2, 3, 4, 5}

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

In [ ]:
hello=list("hello")
hello

['h', 'e', 'l', 'l', 'o']

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
my_dict = {**dict1, **dict2}
my_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [ ]:
my_dict={}
for i in range (5):
    my_dict[i]=i**2
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [ ]:
my_dict={'a': 1, 'b': 2, 'c': 3, 'd': 4}
for k in my_dict:
    print(k, my_dict[k])

a 1
b 2
c 3
d 4

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

In [ ]:
# Create a list of the first 5 letters of the alphabet using chr()
first_five_letters = [chr(i) for i in range(ord('a'), ord('a') + 5)]
print(first_five_letters)

['a', 'b', 'c', 'd', 'e']

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [ ]:
list1 = [1, 2, 3]
list2 = ["a", "b", "c"]

# Combine the lists using zip()
zipped_object = zip(list1, list2)

# Convert the zip object to a list of tuples
list_of_tuples = list(zipped_object)

print(list_of_tuples)

[(1, 'a'), (2, 'b'), (3, 'c')]

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

In [ ]:
my_list = [10, 20, 30, 40, 50]
value_to_find = 50
index = my_list.index(value_to_find)
index

4

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

In [ ]:
names = ["Alice", "David", "Bob", "Charlie"]
names.sort()
names

['Alice', 'Bob', 'Charlie', 'David']

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

In [ ]:
n=[2,3,65,1,3,7]
print(max(n))

65

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

In [ ]:
fruits = ["apple", "banana", "apple", "orange"]
fruits.count('apple')

2

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

In [ ]:
person={"name":"Alice", "age":25,"city":"New York"}
person['city']

'New York'

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

In [ ]:
def remove_duplicated(my_list):
    return list(dict.fromkeys(my_list))
    #return (my_list.fromkeys())

remove_duplicated([1,3,4,5,3,2,1,5])

[1, 3, 4, 5, 2]

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

In [ ]:
list1=[1,3,4,5,3,2,1,5]
list2=[1,35,4,55,3,25,1,5]
def intersection(list1,list2):
    inter=[]
    for i in list1:
        if i in list2: inter.append(i)

    inter=set(inter)
    print(inter)

intersection(list1,list2)

{1, 3, 4, 5}

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

In [ ]:
for i in range (1,11): print(f"{i}^2={i*i}")

1^2=1
2^2=4
3^2=9
4^2=16
5^2=25
6^2=36
7^2=49
8^2=64
9^2=81
10^2=100

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

In [ ]:
def sum_dic(my_dict):
    s=0
    for k in my_dict:
        s+=my_dict[k]
    return s

z=sum_dic({'a':1,'d':5})
print(z)

6

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

In [ ]:
print(sorted([3, 1, 4, 1, 5, 9]))

[1, 1, 3, 4, 5, 9]

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

In [ ]:
def longest_string(my_list):
    ls=''
    for m in my_list:
        if len(m)>=len(ls):
            ls=m
    return ls

s=longest_string(['tot', 'cont', 'anti social', 'shit'])
print(s)

anti social

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

In [ ]:
all([1, -2, 3, 4, 5])

True

In [ ]:
help(all)

Help on built-in function all in module builtins:

all(iterable, /)
    Return True if bool(x) is True for all values x in the iterable.

    If the iterable is empty, return True.

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

In [ ]:
my_list=[]
for i in range(1,6):
    my_list.append((i,i*i))
print( my_list)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

In [ ]:
def second_element(tup_list):
    se=[]
    for t in tup_list:
        se.append(t[1])
    print(se)

second_element([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)])

[1, 4, 9, 16, 25]

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

In [ ]:
def flatten_list(my_list):
  fl=[]
  for sub_list in my_list:
    for i in sub_list:
      fl.append(i)
  return (fl)

print(flatten_list([[1, 4, 9, 16, 25], ['alice', 'bob'],['r', 'w','de',2]]))

[1, 4, 9, 16, 25, 'alice', 'bob', 'r', 'w', 'de', 2]

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

In [ ]:
# Exercise 41
fruits = ["apple", "banana", "cherry"]

for index, value in enumerate(fruits):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

In [ ]:
my_tuple = (1,2,2)

if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is not empty.

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

In [ ]:
even_numbers = list(range(2, 21, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [ ]:
def reverse_list(my_list):
  my_list = my_list[::-1]
  return my_list

print(reverse_list([1,2,3,4,5]))

[5, 4, 3, 2, 1]

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

In [ ]:
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

In [ ]:
new_list=list(set([1, 2, 2, 3, 4, 4, 5]))
print(new_list)

[1, 2, 3, 4, 5]

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

In [ ]:
def fetch_list_dictionnary(list_dict, cle):
    return [d[cle] for d in list_dict if cle in d]


fetch_list_dictionnary([{"name": "Alice", "age": 25},{"name": "Bob", "age": 30},
    {"name": "Charlie"}], "name")

['Alice', 'Bob', 'Charlie']

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

In [ ]:
def fibonacci_generator(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b


for num in fibonacci_generator(10):
    print(num)

0
1
1
2
3
5
8
13
21
34

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

In [ ]:
def decomposition_string(my_string):
  char_list=[]
  for c in my_string:
    if c not in char_list:
      char_list.append(c)
  return char_list

print(decomposition_string("sability"))

['s', 'a', 'b', 'i', 'l', 't', 'y']

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

In [ ]:
def merge_sorted_lists(list1, list2):
    merged = []
    i = j = 0

    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged.append(list1[i])
            i += 1
        else:
            merged.append(list2[j])
            j += 1

    merged.extend(list1[i:])
    merged.extend(list2[j:])

    return merged

In [ ]:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]

result = merge_sorted_lists(list1, list2)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

In [ ]:
list(filter(lambda x: x % 2 == 0, [1, 2, 3, 4, 5, 6]))

[2, 4, 6]

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

In [ ]:
tuple_list = [(1, 2), (3, 4), (5, 6)]
result_dict = dict(tuple_list)
print(result_dict)

{1: 2, 3: 4, 5: 6}

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

In [ ]:
def symmetric_difference(set1, set2):
    return set1 ^ set2

a={1,2,3,4,5}
b={0,9,4,8,2}
symmetric_difference(a,b)

{0, 1, 3, 5, 8, 9}

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

In [ ]:
def common_element(list1,list2,list3):
  return list(set(list1)&set(list2)&set(list3))

a=['a','c',2]
b=['a','b','c','d']
c=['do','re','a','de','tu','c']
print(common_element(a,b,c))

['c', 'a']

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

In [ ]:
def factorial(n):
  if n<0: return "impossible"
  elif n<=1: return 1
  return n*factorial(n-1)

print(factorial(6))
print(factorial(-3))

720
impossible

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

In [ ]:
list1=["apple", "", "banana", "", "cherry"]
list2=[l for l in list1 if l !=""]
print (list2)

['apple', 'banana', 'cherry']

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

In [ ]:
def swap_key_value(dic):
  return({v:k for k,v in dic.items()})

dico={'a':1,'b':2}
print(swap_key_value(dico))

{1: 'a', 2: 'b'}

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

In [ ]:
def sort_even(list1):
  return(list(l for l in list1 if l%2==0))

print(sort_even([0,1,2,3,4,5,6]))

[0, 2, 4, 6]

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

In [ ]:
def first_tuple_elt(tuple1):
  return (list(l[0] for l in tuple1))

print(first_tuple_elt([(1,2),(4,5),(2,9)]))

[1, 4, 2]

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

In [ ]:
def remove_duplicates(list1):
    new_list=[]
    for i in list1:
        if i not in new_list:
            new_list.append(i)
    return new_list

my_list = [1, 2, 2, 3, 4, 4, 5, 1]
print(remove_duplicates(my_list))

[1, 2, 3, 4, 5]

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

In [ ]:
def map_word_lenght(list1):
  return list(map(len,list1))

print(map_word_lenght(["alice", "bob", "charlie"]))

[5, 3, 7]

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

In [ ]:
def average_number(list1):
  average=0
  for i in list1:
    average+=i
  average=average/len(list1)
  return (average)

print(average_number([3,4,5,1]))

3.25

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

In [ ]:
def fibonacci_generator(n):
  if n==0: return 0
  if n==1:return 1
  return(fibonacci_generator(n-1)+fibonacci_generator(n-2))


def generate_list(x):
  my_list=[]
  for i in range(x+1):
    my_list.append(fibonacci_generator(i))
  return my_list

print(generate_list(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

In [ ]:
1 in {1: 'a', 2: 'b'}.keys()

True

In [ ]:
def count_times(list1):
  dic={}
  for l in list1:
    if l in dic.keys():
      dic[l]+=1
    else:
      dic[l]=1
  return dic

print(count_times(["apple", "banana", "apple", "cherry"]))

{'apple': 2, 'banana': 1, 'cherry': 1}

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

In [ ]:
def remove_occurence(list1, x):
  return list(l for l in list1 if l!=x)

print(remove_occurence(["apple", "banana", "apple", "cherry"], "apple"))

['banana', 'cherry']

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

In [ ]:
def start_vowel(list1):
  return list(l for l in list1 if l[0] in "aeiouyAEIOUY")

print(start_vowel(["apple", "banana", "cherry", "date"]))

['apple']

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

In [ ]:
def set_intersection(set1, set2):
    return set1 & set2

print(set_intersection({1, 2, 3}, {2, 3, 4}))

{2, 3}

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

In [ ]:
def flatten_list(list1):
    flattened = []
    for sub_list in list1:
        for l in sub_list:
          flattened.append(l)
    return flattened

print(flatten_list([[1, 2, 3], [4, 5], [6, 5, 8, 9]]))

[1, 2, 3, 4, 5, 6, 5, 8, 9]

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

In [ ]:
def check_unique_elt(list1, elt):
  if list1.count(elt)==1: print("unique")
  elif list1.count(elt)>0: print('duplicated')
  else: print("not in list")

check_unique_elt([1,2,3,2,3,5,6], 1)

unique

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

In [ ]:
from functools import reduce
reduce(lambda x, y: x * y, [1, 2, 3, 4, 5])

120

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

In [ ]:
def key_value_string(list1):
  return({l:len(l) for l in list1})

print(key_value_string(["alice", "bob", "charlie"]))

{'alice': 5, 'bob': 3, 'charlie': 7}

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

In [ ]:
def count_vowel(my_string):
  vowel_count=0
  for c in my_string:
    if c in "aoieuyAEIOUY":
      vowel_count+=1
  return vowel_count

print(count_vowel("LIEUMO"))

4

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

In [ ]:
def factorial(n):
  if n<0: return "impossible"
  elif n<=1: return 1
  return n*factorial(n-1)

list1=list((i,factorial(i)) for i in range(1,6))
print(list1)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

In [ ]:
def merge_dict(list1):
  merged_dict={}
  for d in list1:
    merged_dict.update(d)
  return merged_dict

list1=[{'a': 1, 'b': 2}, {'c': 3, 'd': 4, 'a':2}]
print(merge_dict(list1))

{'a': 2, 'b': 2, 'c': 3, 'd': 4}

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

In [ ]:
def is_subset(set1,set2):
  for s in set1:
    if s not in set2:
      return False
  return True

print(is_subset({1, 82, 3}, {1, 2, 3, 4, 5}))

False

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

In [ ]:
def sort_elt(list1):
  for elt in range(len(list1)):
    for e in range(len(list1)):
      if list1[elt][1]<list1[e][1]:
        k=list1[elt]
        list1[elt]=list1[e]
        list1[e]=k

  return list1

print(sort_elt([(1, 3), (3, 7), (2, 1)]))

[(2, 1), (1, 3), (3, 7)]

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

In [ ]:
def positive_integer(list1):
  return list( i for i in list1 if int(i)>0)

print(positive_integer([1,0,3,-2,-5]))

[1, 3]

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

In [ ]:
def union_set(set1, set2):
    return set1 | set2

print(union_set({1, 2, 3}, {2, 3, 4}))

{1, 2, 3, 4}

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

In [ ]:
def list_product(list1):
  product=1
  for i in list1: product*=i
  return product

print(list_product([1, 2, 3, 4, 5]))

120

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

In [ ]:
def list_to_string(list1):
  new_string=""
  for l in list1:
    new_string+=l
  return new_string

print(list_to_string(['a', 'b', 'c']))

abc

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

In [ ]:
def second_max(list1):
  max=list1[0]
  smax=list1[0]
  for l in list1:
    if l>max:
      smax=max
      max=l
    else:
      if smax<l: smax=l
  return smax

print(second_max([4,1,5,3,17,7,2]))

7

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

In [ ]:
def list_key(dic):
  return list(sorted(set(k for k in dic)))
print(list_key({'palice': 5, 'bob': 3, 'charlie': 7}))

['bob', 'charlie', 'palice']

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

In [ ]:
def must_common_elt(list1):
  dic={}
  max=0
  elt=None
  for l in list1:
    if l  in dic.keys(): dic[l]+=1
    else: dic[l]=1
  for k,v in dic.items():
    if v>max:
      max=v
      elt=k
  return elt


print(must_common_elt([1,3,2,4,5,1,4,1]))

1

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

In [ ]:
def sort_elt(list1):
  for elt in range(len(list1)):
    for e in range(len(list1)):
      if list1[elt][0]<list1[e][0]:
        k=list1[elt]
        list1[elt]=list1[e]
        list1[e]=k

  return list1

print(sort_elt([(17, 3), (3, 7), (2, 1)]))

[(2, 1), (3, 7), (17, 3)]

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

In [ ]:
def remove_duplicate(list1):
  new_list=[]
  for l in list1:
    if l not in new_list:
      new_list.append(l)
  return new_list

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

In [ ]:
# Exercise 86
def min_max(list1):
  min=list1[0]
  max=list1[0]
  for l in list1:
    if l<min:
      min=l
    if l>max:
      max=l
  return min,max

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python

```

In [ ]:
# Exercise 88
def string_list(list1):
  new_list=[]
  for l in list1:
    new_list.append(l[::-1])
  return new_list

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python

```

In [ ]:
# Exercise 89
def sum_odd_even(list1):
  sum_odd=0
  sum_even=0
  for l in list1:
    if l%2== 0:
      sum_even+=l
    else:
      sum_odd+=l

  return sum_odd, sum_even

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

In [ ]:
def palindrome(my_string):
  if my_string==my_string[::-1]:
    return True
  else:
    return False

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

In [ ]:
def mediane(list1):
  list1=list1.sort()
  if len(list1)%2==1:
    position_mediane=len(list1)//2+1
    return list1[position_mediane]
  else:
    x=len(list1)/2
    return (list1[x]+list1[x+1])/2

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

In [ ]:
def sum_dicts(dict_list):
    result = {}
    for d in dict_list:
        for k, v in d.items():
            if k in result:
                result[k] += v
            else:
                result[k] = v
    return result

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

In [ ]:
def calculate_mode(list1):
    freq = {}
    for n in list1:
        if n in freq:
            freq[n] += 1
        else:
            freq[n] = 1

    max_freq = 0
    for f in freq.values():
        if f > max_freq:
            max_freq = f

    modes = []
    for n, f in freq.items():
        if f == max_freq:
            modes.append(n)

    return modes

# Example usage:
data = [1, 2, 2, 3, 3]
print(calculate_mode(data))

[2, 3]

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

In [ ]:
def sum_square(list1):
  sum=0
  for l in list1:
    sum+=l**2
  return sum

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

In [ ]:
result = [(x, x**3) for x in range(1, 6)]
print(result)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

In [ ]:
def prime_number(n):
  list1=[]
  for i in range(2,n+1):
    for j in range(2,i):
      if i%j==0:
        break
    else:
      list1.append(i)
  return list1
print(prime_number(30))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

In [ ]:
def common_keys(dict1, dict2):
    keys = []
    for k in dict1:
        if k in dict2:
            keys.append(k)
    return keys

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

In [ ]:
def string_list(list1):
  new_list=list(l for l in list1 if len(l)>5)
  return new_list

print(string_list(['apple', 'banana', 'cherry', 'date', 'elderberry']))

['banana', 'cherry', 'elderberry']

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python

```

In [ ]:
# Exercise 99
def strings_tuples(list1):
    result = []
    for l in list1:
        result.append((l, len(l)))
    return result

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python

```

---

In [ ]:
# Exercise 100
def sum_values(dict_list):
    result = {}
    for d in dict_list:
        for k in d:
            if k in result:
                result[k] += d[k]
            else:
                result[k] = d[k]
    return result