# Lists and Dictionnaries

## Lists

In [3]:
my_first_list=["Lieumo","Njopnu",30,1.53]

In [4]:
my_first_list

['Lieumo', 'Njopnu', 30, 1.53]

In [5]:
type(my_first_list)

list

In [6]:
my_second_list=["Tamo","Jeanne",30,1.6]
my_third_list=["Tayou",'Modio',30,1.8]

In [11]:
my_family=[my_first_list]+[my_second_list]+[my_third_list]
my_family

[['Lieumo', 'Njopnu', 30, 1.53],
 ['Tamo', 'Jeanne', 30, 1.6],
 ['Tayou', 'Modio', 30, 1.8]]

In [1]:
print(list(i for i in range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
my_family=[my_first_list,my_second_list,my_third_list]
my_family

[['Lieumo', 'Njopnu', 30, 1.53],
 ['Tamo', 'Jeanne', 30, 1.6],
 ['Tayou', 'Modio', 30, 1.8]]

In [13]:
type(my_family)

list

In [14]:
my_family[0]

['Lieumo', 'Njopnu', 30, 1.53]

In [16]:
my_family[0][-1]

1.53

In [4]:
my_1=['lieumo','njopnu',30,1.11]
my_2=['AIMS','python',14]

In [19]:
my_1+my_2

['lieumo', 'njopnu', 30, 1.11, 'AIMS', 'python', 14]

In [20]:
my_2+my_1

['AIMS', 'python', 14, 'lieumo', 'njopnu', 30, 1.11]

In [7]:
my_1.append(7)

In [23]:
my_1

['lieumo', 'njopnu', 30, 1.11, 7]

In [2]:
?my_1.extend

Object `my_1.extend` not found.

In [9]:
my_1.extend([6,45])
my_1

['lieumo', 'njopnu', 30, 1.11, 7, 7, 6, 6, 45]

In [10]:
my_1.append([7,3])

In [11]:
my_1

['lieumo', 'njopnu', 30, 1.11, 7, 7, 6, 6, 45, [7, 3]]

In [12]:
3*my_1

['lieumo',
 'njopnu',
 30,
 1.11,
 7,
 7,
 6,
 6,
 45,
 [7, 3],
 'lieumo',
 'njopnu',
 30,
 1.11,
 7,
 7,
 6,
 6,
 45,
 [7, 3],
 'lieumo',
 'njopnu',
 30,
 1.11,
 7,
 7,
 6,
 6,
 45,
 [7, 3]]

In [30]:
2.5*my_1

TypeError: can't multiply sequence by non-int of type 'float'

## Dictionnaries

In [13]:
my_dict1={'people 1': ['Kudus', 'Mo', 25, 1.88], 'people 2':['Simo','Barry', 29,1.89]}

In [14]:
my_dict1

{'people 1': ['Kudus', 'Mo', 25, 1.88],
 'people 2': ['Simo', 'Barry', 29, 1.89]}

In [16]:
my_dict1['people 1'][1]

'Mo'

In [42]:
my_dict1['people 3']=['Eding', 'Mo', 26, 1.78]

In [43]:
my_dict1

{'people 1': ['Kudus', 'Mo', 25, 1.88],
 'people 2': ['Simo', 'Barry', 29, 1.89],
 'people 3': ['Eding', 'Mo', 26, 1.78]}

In [44]:
my_dict1['people 3']=['Erika', 'Mo', 26, 1.78]

In [45]:
my_dict1

{'people 1': ['Kudus', 'Mo', 25, 1.88],
 'people 2': ['Simo', 'Barry', 29, 1.89],
 'people 3': ['Erika', 'Mo', 26, 1.78]}

In [17]:
my_dict2={'people 1': ['Kudus', 'Mo', 25, 1.88],
 'people 3': ['Simo', 'Barry', 29, 1.89],
 'people 3': ['Erika', 'Mo', 26, 1.78]}

In [47]:
my_dict2

{'people 1': ['Kudus', 'Mo', 25, 1.88], 'people 3': ['Erika', 'Mo', 26, 1.78]}

In [18]:
my_dict2.items()

dict_items([('people 1', ['Kudus', 'Mo', 25, 1.88]), ('people 3', ['Erika', 'Mo', 26, 1.78])])

In [19]:
my_dict2.keys()

dict_keys(['people 1', 'people 3'])

In [50]:
my_dict3={'me': ['Lieumo', 'njopnu', 25, 1.88],
 'n_left': ['Cheick', '', 29, 1.89]}

my_dict4={'n_right1': ['Luc', 'Ntozi', 25, 1.88],
 'n_right2': ['Marie', 'Paul', 29, 1.59]}

In [51]:
print(my_dict3)
print(my_dict4)

{'me': ['Lieumo', 'njopnu', 25, 1.88], 'n_left': ['Cheick', '', 29, 1.89]}
{'n_right1': ['Luc', 'Ntozi', 25, 1.88], 'n_right2': ['Marie', 'Paul', 29, 1.59]}

In [20]:
?my_dict1.update

In [53]:
my_dict1.update(my_dict3)

In [54]:
my_dict1

{'people 1': ['Kudus', 'Mo', 25, 1.88],
 'people 2': ['Simo', 'Barry', 29, 1.89],
 'people 3': ['Erika', 'Mo', 26, 1.78],
 'me': ['Lieumo', 'njopnu', 25, 1.88],
 'n_left': ['Cheick', '', 29, 1.89]}

In [55]:
my_dict5={'people 1': ['Massi', 'Kim', 25, 1.88],
 'people 3': ['Simo', 'Barry', 29, 1.89]}

In [56]:
my_dict1.update(my_dict5)

In [57]:
my_dict1

{'people 1': ['Massi', 'Kim', 25, 1.88],
 'people 2': ['Simo', 'Barry', 29, 1.89],
 'people 3': ['Simo', 'Barry', 29, 1.89],
 'me': ['Lieumo', 'njopnu', 25, 1.88],
 'n_left': ['Cheick', '', 29, 1.89]}