In [5]:
my_name="Chakala VIP"
my_age=43
my_heigth=1.63

In [2]:
print(my_heigth)

1.63

In [3]:
my_heigth

1.63

In [6]:
type(my_age)

int

In [8]:
my_first_name="LIEUMO"
my_last_name="NJOPNU"
print("My first name is ",my_first_name+" "+my_last_name)

My first name is  LIEUMO NJOPNU

In [9]:
str(my_age)+my_first_name

'43LIEUMO'

In [10]:
my_first_name[0]

'L'

In [11]:
my_list=[my_age, my_first_name, my_last_name]
print(my_list)

[43, 'LIEUMO', 'NJOPNU']

In [12]:
my_list[2]

'NJOPNU'

In [13]:
my_dict={'a':my_age, "b":my_heigth}
my_dict

{'a': 43, 'b': 1.63}

In [14]:
for i in my_list:
    if str(i)>=str(0):
        print(i)

43
LIEUMO
NJOPNU

In [15]:
'y'<='z'

True

In [16]:
def square(x):
    """return square of a number"""
    return x*x